<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Update.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Update.My.MySettings.Updater" connectionString="Data Source=192.168.1.210\SQLEXPRESS;Initial Catalog=Updater;Persist Security Info=True;User ID=sa;Password=elodajaya;Connect Timeout=1" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Update.My.MySettings>
            <setting name="Lokasi_src" serializeAs="String">
                <value>\\192.168.1.76\Software IT\iTicket\</value>
            </setting>
            <setting name="nama_prog" serializeAs="String">
                <value>iTicket</value>
            </setting>
            <setting name="lokasi_conf" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="keterangan_wilayah" serializeAs="String">
                <value>List Wilayah :


	    </value>
            </setting>
            <setting name="Standart" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lokasi_Backup" serializeAs="String">
                <value>D:\Backup db</value>
            </setting>
        </Update.My.MySettings>
    </applicationSettings>
</configuration>
